In [18]:
import platform
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# 그래프 한글 깨짐 방지
if platform.system() == 'Darwin':
    # 맥일때
    plt.rcParams["font.family"] = 'AppleGothic'
elif platform.system() == 'Windows':
    # 윈도우일때
    plt.rcParams["font.family"] = 'Malgun Gothic'
# 마이너스기호(-) 폰트 깨지는 문제 해결
plt.rcParams['axes.unicode_minus'] = False

In [19]:
# 데이터 디렉토리 파일 확인
import os
print(os.listdir("../input"))

['test_images', 'breed_labels.csv', '.DS_Store', 'test', 'train_metadata', 'color_labels.csv', 'test_sentiment', 'test_metadata', 'train_sentiment', 'train', '.ipynb_checkpoints', 'train_images', 'state_labels.csv']

In [20]:
# train, test 데이터 read(dataframe)
train = pd.read_csv('../input/train/train.csv')
test = pd.read_csv('../input/test/test.csv')

In [21]:
# train 데이터 행과 열의 개수
train.shape

(14993, 24)

In [22]:
# test 데이터 행과 열의 개수, train데이터보다 하나 적다. 예측해야 하는 입양속도 AdoptionSpeed 빠졌음.
test.shape

(3948, 23)

In [23]:
train.head(3)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3

* PetID - Unique hash ID of pet profile
애완 동물 프로필의 고유 해시 ID
* AdoptionSpeed - Categorical speed of adoption. Lower is faster. This is the value to predict. See below section for more info.
채택의 범주입니다. 낮추면 빠릅니다. 이것은 예측할 가치입니다. 자세한 내용은 아래 섹션을 참조하십시오.
* Type - Type of animal (1 = Dog, 2 = Cat)
동물 유형 (1 = 개, 2 = 고양이)
* Name - Name of pet (Empty if not named)
애완 동물의 이름 (이름이 지정되지 않은 경우 비움)
* Age - Age of pet when listed, in months
나열된 애완 동물의 나이 (월)
* Breed1 - Primary breed of pet (Refer to BreedLabels dictionary)
애완 동물의 기본 번식 (BreedLabels 사전 참조)
* Breed2 - Secondary breed of pet, if pet is of mixed breed (Refer to BreedLabels dictionary)
애완 동물의 2 차 품종, 애완 동물이 혼합 품종 인 경우 (BreedLabels 사전 참조)
* Gender - Gender of pet (1 = Male, 2 = Female, 3 = Mixed, if profile represents group of pets)
성별 (1 = 남성, 2 = 여성, 3 = 프로필이 애완 동물 그룹을 나타내는 경우 혼합)
* Color1 - Color 1 of pet (Refer to ColorLabels dictionary)
애완 동물의 색상 1 (ColorLabels 사전 참조)
* Color2 - Color 2 of pet (Refer to ColorLabels dictionary)
애완 동물의 색상 2 (ColorLabels 사전 참조)
* Color3 - Color 3 of pet (Refer to ColorLabels dictionary)
애완 동물의 색상 3 (ColorLabels 사전 참조)
* MaturitySize - Size at maturity (1 = Small, 2 = Medium, 3 = Large, 4 = Extra Large, 0 = Not Specified)
현재의 크기 (1 = 작음, 2 = 중간, 3 = 큰, 4 = 매우 큰, 0 = 지정되지 않음)
* FurLength - Fur length (1 = Short, 2 = Medium, 3 = Long, 0 = Not Specified)
모피 길이 (1 = 짧음, 2 = 중간, 3 = 긴, 0 = 지정되지 않음)
* Vaccinated - Pet has been vaccinated (1 = Yes, 2 = No, 3 = Not Sure)
백신 접종 - 애완 동물 예방 접종 (1 = 예, 2 = 아니오, 3 = 확실하지 않음)
* Dewormed - Pet has been dewormed (1 = Yes, 2 = No, 3 = Not Sure)
구충제 복용?(1 = 예, 2 = 아니오, 3 = 확실하지 않음)
* Sterilized - Pet has been spayed / neutered (1 = Yes, 2 = No, 3 = Not Sure)
애완 동물의 분만 / 중화 (1 = 예, 2 = 아니오, 3 = 확실하지 않음)
* Health - Health Condition (1 = Healthy, 2 = Minor Injury, 3 = Serious Injury, 0 = Not Specified)
건강 상태 (1 = 건강, 2 = 경미한 상해, 3 = 심각한 상해, 0 = 지정되지 않음)
* Quantity - Number of pets represented in profile
프로필에 표시된 애완 동물 수
* Fee - Adoption fee (0 = Free)
입양 수수료 (0 = 무료)
* State - State location in Malaysia (Refer to StateLabels dictionary)
말레이시아의 주 위치 (StateLabels 사전 참조)
* RescuerID - Unique hash ID of rescuer
구조 대원의 고유 해시 ID
* VideoAmt - Total uploaded videos for this pet
이 애완 동물의 총 업로드 된 동영상
* PhotoAmt - Total uploaded photos for this pet
이 애완 동물에 대한 총 업로드 된 사진
* Description - Profile write-up for this pet. The primary language used is English, with some in Malay or Chinese.
이 애완 동물에 대한 프로필 쓰기. 사용 된 기본 언어는 영어이고, 일부는 말레이어 또는 중국어입니다.

In [24]:
# train data NaN값 확인
train.isna().sum()

Type                0
Name             1257
Age                 0
Breed1              0
Breed2              0
Gender              0
Color1              0
Color2              0
Color3              0
MaturitySize        0
FurLength           0
Vaccinated          0
Dewormed            0
Sterilized          0
Health              0
Quantity            0
Fee                 0
State               0
RescuerID           0
VideoAmt            0
Description        12
PetID               0
PhotoAmt            0
AdoptionSpeed       0
dtype: int64

In [25]:
# test data NaN값 확인
test.isna().sum()

Type              0
Name            303
Age               0
Breed1            0
Breed2            0
Gender            0
Color1            0
Color2            0
Color3            0
MaturitySize      0
FurLength         0
Vaccinated        0
Dewormed          0
Sterilized        0
Health            0
Quantity          0
Fee               0
State             0
RescuerID         0
VideoAmt          0
Description       2
PetID             0
PhotoAmt          0
dtype: int64

In [26]:
# Descriptions은 활용할 것이므로 보존
# Name 칼럼 삭제
del train["Name"]
del test["Name"]

In [27]:
# Type의 one hot encoding을 위해 Type값 1 : dog, 2 : cat 매핑
train['Type'] = train['Type'].map({1 : 'dog', 2 : 'cat'})

In [28]:
train.head(3)

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,cat,3,299,0,1,1,7,0,1,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,cat,1,265,0,1,1,2,0,2,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,dog,1,307,0,1,2,7,0,2,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3

In [29]:
# pd.get_dummies를 이용해 Type값 기반한 dataframe 신규 작성
train_Type_get_dummies = pd.get_dummies(train.Type, prefix='Type')

In [30]:
train_Type_get_dummies.head(3)

   Type_cat  Type_dog
0         1         0
1         1         0
2         0         1

In [31]:
# train에 Type one hot encoding dataframe merge
train2 = pd.merge(train, train_Type_get_dummies, left_index=True, right_index=True)

In [33]:
train.shape

(14993, 23)

In [32]:
train2.shape

(14993, 25)

In [34]:
train2.head(3)

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,Type_cat,Type_dog
0,cat,3,299,0,1,1,7,0,1,1,...,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,1,0
1,cat,1,265,0,1,1,2,0,2,2,...,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,1,0
2,dog,1,307,0,1,2,7,0,2,2,...,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,0,1

In [35]:
# Type 칼럼 삭제
del train2["Type"]

In [36]:
train2.columns

Index(['Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2', 'Color3',
       'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed', 'Sterilized',
       'Health', 'Quantity', 'Fee', 'State', 'RescuerID', 'VideoAmt',
       'Description', 'PetID', 'PhotoAmt', 'AdoptionSpeed', 'Type_cat',
       'Type_dog'],
      dtype='object')

In [17]:
import nltk